.grid-container {
    background-color: black;
    display: grid;
    column-gap: 2px;
    grid-template-areas:
        'header header header'
        'login login login'
        'rodape rodape rodape'
        'foto foto foto';
}

.grid-header {
    grid-area: header;
    text-align: center;
    color: rgb(237, 237, 237);
    font-family: Impact;
    font-size: 30px;
}

.grid-login {
    grid-area: login;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    columns: login;
    padding: auto;
}

.grid-rodape {
    grid-area: footer;
    text-align: center;
    color: white;

}

.grid-foto {
    grid-area: foto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    text-align: auto;
    justify-content: center;
}


body {
    background-color: black;
}