body {
    text-align: center;
    margin: 0 auto;
}

body div {
    text-align: center;
    display: flex;
    width: 10%;
    height: 30px;
    padding: 6px;
    margin: 0 auto;
}

#mensagemBemVindo {
    text-align: center;
    font-size: 2rem;
}