body {

    padding: 0;

    margin: 0;

    background-color: #454d6b;

}

#site {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card {

    background-color: rgba(19, 19, 19, 0.3);

    padding: 30px;

    border-radius: 2px;

    width: 280px;

}

.card-header h2 {

    padding-bottom: 20px;

    opacity: 0.8;

    color: #fff;


}


.card-content {

    color: #fff;

    font-size: 12px;

    opacity: 0.8;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding: 10px 0;

}

.card-content-area {

    margin-top: 10px;

    padding: 0 5px;

    background-color: transparent;

    color: #fff;

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer button {

    width: 100%;

    height: 40px;

    background-color: #a13854;

    border: none;

    color: #e1e1e1;

    margin: 10px 0;

}